@import "tailwindcss";
@import "./styles/gradient.css";
@import "./styles/noise.css";
@import "./styles/stars.css";

:root {
	--font-family-base: "Figtree", sans-serif;
	--font-family-heading: "EB Garamond", serif;
	--color-primary: #00ccff;
	--color-white: #ffffff;
	--border-color: color-mix(in oklab, var(--color-white) 8%, transparent);

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h2 {
	font-family: var(--font-family-heading);
}

body {
	font-family: var(--font-family-base);
}
