@import "tailwindcss";
@import "./styles/gradient.css";
@import "./styles/noise.css";
@import "./styles/stars.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--color-primary: #722687;
	--color-base: #241627;
	--color-base-inverted: #f4e1e5;
	--border-color: color-mix(in oklab, black 8%, transparent);
	--background-color: #ffffff;
}

:root.dark {
	--color-primary: #00ccff;
	--color-base: #f4e1e5;
	--color-base-inverted: #241627;
	--border-color: color-mix(in oklab, var(--color-white) 8%, transparent);
	--background-color: #242424;
}

:root {
	--font-family-base: "Figtree", sans-serif;
	--font-family-heading: "EB Garamond", serif;
	--color-white: #ffffff;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h2 {
	font-family: var(--font-family-heading);
}

body {
	background-color: var(--background-color);
	color: var(--color-base);
	font-family: var(--font-family-base);
}
